<section class="about-page">

<header class="page-header">
  <h1>About Us</h1>
</header>
<div>
  <p> Weeheeheehee dee heeheeheehee weeoh aweem away</p>
  <p>Weeheeheehee dee heeheeheehee weeoh aweem away</p>
  <p>In the jungle, the mighty jungle</p>
  <p>The lion sleeps tonight</p>
</div>

</section>